# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: "Clinical Studies Management"
description: "Manejo de estudios clinicos"
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://localhost:4001"  # URL completa para el sitio en local o en producci칩n
url_local: "http://0.0.0.0:4001"  # Direcci칩n para el servidor de desarrollo
github_username:  zamora16

# Direcci칩n del servidor y puerto
host: "0.0.0.0"  # Esto permite que sea accesible en cualquier IP dentro de la red local
port: 4001       # Puerto donde el servidor estar치 disponible
http_prefix: "/"

markdown: kramdown

# Build settings
remote_theme: chrisrhymes/bulma-clean-theme@v0.14.0
#plugins:
#  - jekyll-feed


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
